:root{
  --item: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Press+Start+2P&display=swap');

.App {
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
  background-color: #8D72E1;
}

.game {
  display: inherit;
  width: 100vw;
  height: 100vh;
}

.display-none {
  display: none;
}

.pop-div-bg {
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
}

.pop-div {
  box-sizing: border-box;
  padding: 1rem;
  z-index: 2;
  text-align: center;
  position: fixed;
  top: 20%;
  left: 30%;
  width: 600px;
  height: 500px;
  background-color: #000;
  border-radius: 10px;
  background: rgba(19, 18, 18, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.game-over {
  display: inline;
  font-family: 'Fruktur', cursive;
  font-weight: 700;
  font-size: 5rem;
  background: -webkit-linear-gradient(bottom, #F7E90E, #E70800);
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.txt-pop-div {
  margin: 1rem;
  padding: 10px;
  font-size: 2rem;
  color: #fff;
  font-family: 'Grandstander';
}

.img-pop-div {
  width: 100%;
  box-sizing: border-box;
  float: left;
  height: 5rem;
  margin: .2rem;
  padding: .5rem;
}

.new-highscore-div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  float: left;
  box-sizing: border-box;
  z-index: 1;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.highscore-animation {
  animation-timing-function: ease-in-out;
  animation-duration: 450ms;
  animation-iteration-count: infinite;
  animation-name: rainbow;
}

@keyframes rainbow {
  0% {
    background-color: rgb(203, 23, 23);
  }

  15% {
    background-color: #FBBA00;
  }

  30% {
    background-color: #FFEE01;
  }
  
  45% {
    background-color: #63B43B;
  }
  
  60% {
    background-color: #00AAE5;
  }
  
  75% {
    background-color: #3C4395;
  }
  
  90% {
    background-color: #6A4893;
  }
  
  100% {
    background-color: #E84F36;
  }
}
.jump-animation{
  display: inline;
  position: relative;
  color: #E70800;
  font-size: 2rem;
  font-family: 'Press Start 2P', cursive;
  margin: 5px;
  animation-timing-function: ease-out;
  animation-duration: 2.5s;
  animation-fill-mode: backwards;
  animation-iteration-count: cubic-bezier(0.02, 0.01, 0, 1.5);
  animation-delay: calc(.2s * var(--item));
  animation-name: jumpanimation;
}
@keyframes jumpanimation {
  from{ top: -500px;}
  to{
    top: 0px;
  }  
}
.glow{
  display: block !important;
  color: #00AAE5;
  font-size: 2rem;
  font-family: 'Press Start 2P', cursive;
  margin: 5px;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: glow;
}
@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.popup-new-highscore-div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  z-index: 2;
  text-align: center;
  width: 600px;
  height: 200px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
}